@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@400;600&family=Mooli&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #FF0000;

    --fonte-primaria: 'Lora', serif;
    --fonte-secundaria: 'Mooli', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    background-color: var(--cor-terciaria);
    padding: 2% 0% 1% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__alunos {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.apresentacao__conteudo__imagem {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__texto1 {
    font-size: 18px;
    font-family: var(--fonte-secundaria);
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}